
.main {
  min-height: 100vh;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  grid-row-start: 2;
  direction: rtl;
}

.title {
  font-size: 1.875rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #1a1a1a;
}
