.codeEditorBox {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    background-color: #1f2937;
    border-radius: 0.5rem;
    color: #e5e7eb;
    direction: ltr;

    background-color: #1f2937;
    border-radius: 0.5rem;
    padding: 1rem;
    color: #e5e7eb;
}